@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
// set custom variables
$super-black:     #1C2128 !default;
$black:           #3E4A5A;
$gray-900:          $black !default;
$raspberry-04:    #D93535 !default;
$tiffany-00:      #EBFFFB !default;
$tiffany-01:      #CEFFF4 !default;
$tiffany-04:      #00A88B !default;
$raisin-black-09: #E7EBEF !default;
$raisin-black-07: #A1ADBE !default;

